html {
    font-size: 12px;
    font-family: arial, sans-serif;
}
body {
    width: 100vw;
    height: 100vh;
    place-items: center;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #5f6368;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}



header, footer,  .footer-box  {
    font-family:arial, sans-serif;
    display: flex;
    flex-direction: row;
}

.no_underline {
    font-family: arial, sans-serif;
    color: black;
    font-size: 13px;
    opacity: 0.75;

}
.apps-logo {
    width: 32px;
    height: 32px;
    background-image: url(" https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-position: -132px 98px;
    margin: 9px;
    opacity: 0.5;    
}

.navbar_left {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 125px;
    margin-left: 5px; }
.navbar_right {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 250px;
    margin-right: 10px;}
.navbar, .footer-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between; 
    position: fixed;   
}

.navbar {
    top: 0;
    margin-top: 17px;
    font-size: 1.8em;
}
.box {
    width: auto;
    border-width: 1px;
    text-align: center;
    padding: 200px;
}

.search-elements {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.search-forms {
    margin-right: 7px;
}

.search-round-border {
    display: flex;
    justify-content: center;
    width: 584px;
    padding: 15px;
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.247);
}

.search-round-border:hover {
    box-shadow:0px 0px 3px rgba(128, 128, 128, 0.315)
}

.search-box {
    width: 546px;
    background-color: white;
    border-color: white;
    border-style: solid;
}

.search-box:focus {
    outline: none;
}


.header-links {
    padding: 0px 5px;}
.footer-links {
    padding: 0px 10px;   
}

.footer-box {
    bottom: 0;  
    background-color: #f2f2f2;
    box-sizing: border-box;
    border: solid 1px #e4e4e4;
    font-size: 1.8em;
      
}




  